<div class="multiple-card">
  <div class="mt-4">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div class="bg-base-yellow lg:col-span-2 lg:row-span-2 cursor-pointer">
        <div class="h-full bg-base-black-transparent relative">
          <img
            [src]="
              apiService.urlImage + 'w500_and_h282_face' + firstArr?.poster_path
            "
            class="h-full w-full object-cover brightness-50"
          />
          <div class="absolute bottom-0 text-base-yellow font-bold w-full p-4">
            <h2 class="text-lg sm:text-xl md:text-2xl">
              {{ firstArr?.title }}
            </h2>
            <div class="flex items-center justify-between">
              <h4 class="text-xs sm:text-sm md:text-base">
                Release: {{ firstArr?.release_date | date : "h MMMM YYYY" }}
              </h4>
              <h5 class="text-xs sm:text-sm md:text-base">
                Rating: {{ firstArr?.vote_average }}
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-base-yellow cursor-pointer" *ngFor="let item of dataApi">
        <div class="h-full bg-base-black-transparent relative">
          <img
            [src]="
              apiService.urlImage + 'w500_and_h282_face' + item.poster_path
            "
            class="h-full w-full object-cover brightness-50"
          />
          <div class="absolute bottom-0 text-base-yellow font-bold w-full p-4">
            <h2 class="text-lg" style="line-height: 20px">{{ item.title }}</h2>
            <div class="flex items-center justify-between">
              <h4 class="text-xs sm:text-sm md:text-base md:hidden block">
                Release: {{ item.release_date | date : "h MMMM YYYY" }}
              </h4>
              <h5 class="text-xs sm:text-sm md:text-base">
                Rating: {{ item.vote_average }}
              </h5>
            </div>
          </div>
        </div>
      </div>

      <div class="border border-base-yellow cursor-pointer">
        <div class="h-full flex p-4">
          <div class="m-auto text-base-yellow font-bold w-full">
            <div class="flex items-center justify-center">
              <div class="border rounded-full border-base-yellow h-8 w-8 flex">
                <i
                  class="fa fa-arrow-up text-[10px] sm:text-xs m-auto"
                  aria-hidden="true"
                ></i>
              </div>
              <h5 class="ml-2 text-xs sm:text-sm md:text-base">See More</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
