<div class="multiple-card">
  <div class="grid grid-cols-3 gap-4 text-base-yellow font-bold">
    <div>
      <h1 class="text-2xl">Videos</h1>
    </div>
    <div class="flex">
      <button class="text-sm mt-auto ml-auto">Browse all videos</button>
    </div>
    <div></div>
  </div>

  <div class="mt-4">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div
        class="bg-base-yellow lg:col-span-2 lg:row-span-2 bg-cover bg-center bg-no-repeat lg:h-[28rem]"
        style="background-image: url(assets/images/img.png)"
      >
        <div class="h-full flex p-4 bg-base-black-transparent">
          <div class="mt-auto text-base-yellow font-bold w-full">
            <h2 class="text-2xl">How to improve skill</h2>
            <div class="flex items-center justify-between">
              <h4>Toni aja</h4>
              <h5>400 views</h5>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-base-yellow bg-cover bg-center bg-no-repeat"
        style="background-image: url(assets/images/img.png)"
      >
        <div class="h-full flex p-4 bg-base-black-transparent">
          <div class="mt-auto text-base-yellow font-bold w-full">
            <div class="flex items-center justify-between">
              <h4>Toni aja</h4>
              <h5>400 views</h5>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-base-yellow bg-cover bg-center bg-no-repeat"
        style="background-image: url(assets/images/img.png)"
      >
        <div class="h-full flex p-4 bg-base-black-transparent">
          <div class="mt-auto text-base-yellow font-bold w-full">
            <div class="flex items-center justify-between">
              <h4>Toni aja</h4>
              <h5>400 views</h5>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-base-yellow bg-cover bg-center bg-no-repeat lg:h-56"
        style="background-image: url(assets/images/img.png)"
      >
        <div class="h-full flex p-4 bg-base-black-transparent">
          <div class="mt-auto text-base-yellow font-bold w-full">
            <div class="flex items-center justify-between">
              <h4>Toni aja</h4>
              <h5>400 views</h5>
            </div>
          </div>
        </div>
      </div>
      <div
        class="bg-base-yellow bg-cover bg-center bg-no-repeat"
        style="background-image: url(assets/images/img.png)"
      >
        <div class="h-full flex p-4 bg-base-black-transparent">
          <div class="mt-auto text-base-yellow font-bold w-full">
            <div class="flex items-center justify-between">
              <h4>Toni aja</h4>
              <h5>400 views</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="border border-base-yellow cursor-pointer">
        <div class="h-full flex p-4">
          <div class="m-auto text-base-yellow font-bold w-full">
            <div class="flex items-center justify-center">
              <div class="border rounded-full border-base-yellow h-8 w-8 flex">
                <i class="fa fa-arrow-up text-xs m-auto" aria-hidden="true"></i>
              </div>
              <h5 class="ml-2">Upload Your Own Video</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="grid grid-cols-3 gap-4">
      <div class="bg-base-yellow">01</div>
      <div class="bg-base-yellow">02</div>
      <div class="bg-base-yellow">03</div>
      <div class="bg-base-yellow">04</div>
      <div class="bg-base-yellow">05</div>
      <div class="bg-base-yellow">06</div>
    </div> -->
  </div>
</div>
