<div class="multiple-card">
  <div class="mt-4">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div
        class="bg-base-yellow lg:col-span-2 lg:row-span-2 bg-cover bg-center bg-no-repeat"
      >
        <div class="h-full bg-base-black-transparent relative">
          <img
            src="assets/images/img.png"
            class="h-full w-full object-cover brightness-50"
          />
          <div class="absolute bottom-0 text-base-yellow font-bold w-full p-4">
            <h2 class="text-lg sm:text-xl md:text-2xl">How to improve skill</h2>
            <div class="flex items-center justify-between">
              <h4 class="text-xs sm:text-sm md:text-base">Toni aja</h4>
              <h5 class="text-xs sm:text-sm md:text-base">400 views</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-base-yellow bg-cover bg-center bg-no-repeat">
        <div class="h-full bg-base-black-transparent relative">
          <img
            src="assets/images/img.png"
            class="h-full w-full object-cover brightness-50"
          />
          <div class="absolute bottom-0 text-base-yellow font-bold w-full p-4">
            <h2 class="text-lg sm:text-xl md:text-2xl">How to improve skill</h2>
            <div class="flex items-center justify-between">
              <h4 class="text-xs sm:text-sm md:text-base">Toni aja</h4>
              <h5 class="text-xs sm:text-sm md:text-base">400 views</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-base-yellow bg-cover bg-center bg-no-repeat">
        <div class="h-full bg-base-black-transparent relative">
          <img
            src="assets/images/img.png"
            class="h-full w-full object-cover brightness-50"
          />
          <div class="absolute bottom-0 text-base-yellow font-bold w-full p-4">
            <h2 class="text-lg sm:text-xl md:text-2xl">How to improve skill</h2>
            <div class="flex items-center justify-between">
              <h4 class="text-xs sm:text-sm md:text-base">Toni aja</h4>
              <h5 class="text-xs sm:text-sm md:text-base">400 views</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-base-yellow bg-cover bg-center bg-no-repeat">
        <div class="h-full bg-base-black-transparent relative">
          <img
            src="assets/images/img.png"
            class="h-full w-full object-cover brightness-50"
          />
          <div class="absolute bottom-0 text-base-yellow font-bold w-full p-4">
            <h2 class="text-lg sm:text-xl md:text-2xl">How to improve skill</h2>
            <div class="flex items-center justify-between">
              <h4 class="text-xs sm:text-sm md:text-base">Toni aja</h4>
              <h5 class="text-xs sm:text-sm md:text-base">400 views</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-base-yellow bg-cover bg-center bg-no-repeat">
        <div class="h-full bg-base-black-transparent relative">
          <img
            src="assets/images/img.png"
            class="h-full w-full object-cover brightness-50"
          />
          <div class="absolute bottom-0 text-base-yellow font-bold w-full p-4">
            <h2 class="text-lg sm:text-xl md:text-2xl">How to improve skill</h2>
            <div class="flex items-center justify-between">
              <h4 class="text-xs sm:text-sm md:text-base">Toni aja</h4>
              <h5 class="text-xs sm:text-sm md:text-base">400 views</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="border border-base-yellow cursor-pointer">
        <div class="h-full flex p-4">
          <div class="m-auto text-base-yellow font-bold w-full">
            <div class="flex items-center justify-center">
              <div class="border rounded-full border-base-yellow h-8 w-8 flex">
                <i
                  class="fa fa-arrow-up text-[10px] sm:text-xs m-auto"
                  aria-hidden="true"
                ></i>
              </div>
              <h5 class="ml-2 text-xs sm:text-sm md:text-base">
                Upload Your Own Video
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="grid grid-cols-3 gap-4">
      <div class="bg-base-yellow">01</div>
      <div class="bg-base-yellow">02</div>
      <div class="bg-base-yellow">03</div>
      <div class="bg-base-yellow">04</div>
      <div class="bg-base-yellow">05</div>
      <div class="bg-base-yellow">06</div>
    </div> -->
  </div>
</div>
