<main class="flex justify-center">
  <div>
    <div class="bg-base-orange rounded-lg p-4">
      <p class="uppercase text-white">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum
        cupiditate repellendus corporis quia? Earum aperiam obcaecati labore,
        alias doloribus inventore et ad odio. Eius perspiciatis exercitationem,
        tempore voluptatum atque enim.
      </p>
    </div>

    <h3 class="uppercase my-4">halo word</h3>
    <div class="my-4 bg-green-400 text-white">Lorem ipsum dolor sit amet.</div>
  </div>
</main>
