<div class="home">
  <section>
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-2">
        <div class="flex items-baseline text-base-yellow font-bold">
          <h1 class="text-2xl">Videos</h1>
          <h4 class="text-sm">Browse all videos</h4>
        </div>

        <!-- <div class="grid grid-rows-4 grid-flow-col gap-4">
          <div class="bg-base-yellow row-span-2">
            <img src="assets/images/img.png" alt="" />
          </div>
          <div class="row-span-2">
            <div class="grid grid-cols-2 gap-4">
              <div class="w-full bg-base-yellow">
                <div class="tes">
                  <img src="assets/images/img.png" alt="" />
                </div>
              </div>
              <div class="w-full bg-base-yellow">
                <div class="bg-base-yellow tes">
                  <img src="assets/images/img.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let item of data | slice: -2">
            <div class="bg-base-yellow tes">
              <img src="assets/images/img.png" alt="" />
            </div>
          </ng-container>
          <div class="bg-base-yellow tes">
            <img src="assets/images/img.png" alt="" />
          </div>
        </div> -->

        <div class="grid grid-cols-3 gap-4">
          <div class="col-span-2">
            <div class="grid grid-rows-3 grid-flow-col gap-4">
              <div
                class="bg-base-yellow row-span-2 bg-card"
                style="background-image: url(assets/images/img.png)"
              >
              <div class="h-full flex p-4 bg-base-black-transparent">
                <div class="mt-auto text-base-yellow font-bold w-full">
                  <h2 class="text-2xl">How to improve skill</h2>
                  <div class="flex items-center justify-between">
                    <h4>Toni aja</h4>
                    <h5>400 views</h5>
                  </div>
                </div>
              </div>
              </div>
              <div class="flex justify-between">
                <div class="bg-base-yellow w-1/2 mr-2">
                  <img src="assets/images/img.png" alt="" />
                </div>
                <div class="bg-base-yellow w-1/2 ml-2">
                  <img src="assets/images/img.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="grid grid-rows-3 grid-flow-col gap-4">
            <div class="bg-base-yellow">
              <img src="assets/images/img.png" alt="" />
            </div>
            <div class="bg-base-yellow">
              <img src="assets/images/img.png" alt="" />
            </div>
            <div class="bg-base-yellow">
              <img src="assets/images/img.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa adipisci
        omnis assumenda aperiam molestias pariatur, iusto illum est maxime, at
        magni odit, quae sequi a id deserunt quos quo culpa.
      </div>
    </div>
  </section>
</div>
